.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
div#grid-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  min-height: 400px;
}

div#grid-container > div {
  padding: 10px;
}

div#sidebar {
  background-color: black;
  color: white;
}
div.DraftEditor-root {
  border: 1px solid #cccccc;
  min-height: 300px;
}
div#sidebar li {
  text-decoration: underline;
  cursor: pointer;
}